---
apiVersion: "v1"
kind: "Service"
metadata:
  name: "web-service"
  namespace: "web"
spec:
  type: "ClusterIP"
  selector:
    app: "web"
  ports:
    - name: "http-web-service"
      protocol: "TCP"
      port: 80
      targetPort: "http-web"
...
